<div class="tabbar bg-app-primary text-white">
    <div class="d-flex flex-column">
        <i class="bx bx-home"></i>
        <span>
            Home
        </span>
    </div>

        <div class="d-flex flex-column">
        <i class="bx bx-cart"></i>
        <span>
            Cart
        </span>
    </div>

    <div class="d-flex flex-column">
        <i class="bx bx-objects-horizontal-left"></i>
        <span>
            Orders
        </span>
    </div>

    <div class="d-flex flex-column">
        <i class="bx bx-user"></i>
        <span>
            Profile
        </span>
    </div>

    <div class="d-flex flex-column">
        <i class="bx bx-help-circle"></i>
        <span>
            Help
        </span>
    </div>

</div>
